keras==2.12.0
matplotlib
numpy
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.6.0.163
opencv-python==4.8.0.74
Pillow
scikit-learn
scipy
sympy
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tqdm
